h2 {
  background: black;
  color: white;
}

.App-wrapper {
  position: relative;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  background-color: black;
}

.qualifiers-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.contentions-container {
  /* width: 40%; */
  background-color: red;
}

.game-container {
  text-align: center;
  /* width: 60%; */
}

.argument,
.qualifier {
  box-sizing: border-box;
  width: 33%;
  border-radius: 0% 40% 0% 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  padding: 25px;
}

.qualifier > header {
  border-bottom: 1px solid black;
}

.transition-wrong {
  animation: shake 0.5s;
  animation-iteration-count: 2;
}

.alert {
  position: absolute;
  width: 400px;
  height: 100px;
  background: red;
  bottom: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -50px;
}

.is-hidden {
  display: none;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
